.main-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1 0 auto;
}

.mw-25 {
  max-width: 25%;
}

.footer {
  flex: 0 0 auto;
}

@media (max-width: 480px) {
  .mw-sm-30 {
    max-width: 30%;
  }
}
.modal-open {
  overflow: auto;
  padding-right: 0 !important;
}
